body {
    font-family: "Arial";
    --sidebar-bg: black;
    --primary-color: lightblue;
    --nav-text-color: black;
    
    /* No text select */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar {
    background-color: var(--primary-color);
    color: var(--nav-text-color);
}

.navbar h1 {
    font-size: 15pt;
    font-weight: 50;
}

.profilepic {
    border-radius: 50%;
    margin-right: 7px;
    height: 50px;
    width: 50px;
}

/* Sidebar Styles */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--sidebar-bg);
  overflow-x: hidden;
  /*transition: 0.5s;*/
  padding-top: 60px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav .closebtn:hover {
    font-weight: 100;
    filter: brightness(50%);
}

#sidebar {
    color: white;
}

.sidenav body {
    color: white;
}

.sidenav h1 {
    font-size: 18pt;
    padding-left:5%;
}

.element {
    padding-left: 15%;
    color: grey;
}

.element:hover {
    color: lightblue;
}