body {
    font-family: "Helvetica";
    --sidebar-bg: black;
    --primary-color: lightblue;
    --nav-text-color: black;
    
    /* No text select */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar {
    background-color: var(--primary-color);
    color: var(--nav-text-color);
}

.navbar h1 {
    font-size: 15pt;
    font-weight: 50;
}

.profilepic {
    border-radius: 50%;
    margin-right: 7px;
    height: 50px;
    width: 50px;
}

.creation {
    max-width: 450px;
}

/* Sidebar Styles */
.sidenav {
  height: 100%;
  float: left;
  width: 250px;
  max-width: 50%;
  background-color: var(--sidebar-bg);
  overflow-y: auto;
  /*transition: 0.5s;*/
  display: none;
  color: white;
}

.sidenav body {
    color: white;
}

.sidenav h1 {
    font-size: 18pt;
    padding-left:5%;
}

.element {
    padding-left: 15%;
    color: grey;
}

.element:hover {
    color: lightblue;
}

/*This is the CSS from the post page.*/

.genericPost {
    background-color: #EDEDED;
}

.postContent {
    background-color: #FCFCFC;
    border-color: #DCECEF;
    /*border-color: radial-gradient(#DCECEF, #EDEDED);*/
    border-width: 3px;
    border-radius: 15px;
    width: 95%; 
    margin-left: 2.5%;
}

/*.linkBox {
    width: 42.5%;
    float: left;
    margin-left: 5%;
    border: solid 1.5px #86B8CC;
    height: 100%;
    padding: 2px;
    color: #86B8CC;
}

.cardLink {
    color: #86B8CC;
}

a:hover.linkBox {
    color: #DCECEF;
    border-color: #DCECEF;
    background-color: #86B8CC;
}
"""This is bad CSS that is no longer needed, but I want to keep it as a style reference for future pages."""
*/

h5.card-title {
    font-size: 25px;
}

.profilePicture {
    border-radius: 50%;
    margin-right: 7px;
}

a {
    color: #86B8CC;
}

a:hover {
    color: #6E97A7;
}

h6 {
    margin-bottom: 0px;
}

h7 {
    font-size: 14px;
}

.edit {
    float: right;
}

.btn-outline-info {
    border-color: #86B8CC;
    color: #86B8CC;
}

.btn-outline-info:hover {
    background-color: #86B8CC;
    border-color: #86B8CC;
}

#container {
    width: 100%;
    overflow: auto;
    height: calc(100vh - 66px);
}

.content {
  height: 100%;
  width: 100%
  float: left;
  overflow-y: auto;
  /*transition: 0.5s;*/
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

.inline {
    display: inline;
}

.homeTitle {
    text-align: center;
    background-color: #FCFCFC;
    border-color: #DCECEF;
    /*border-color: radial-gradient(#DCECEF, #EDEDED);*/
    border-width: 3px;
    border-radius: 15px;
    border-style: solid;
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 95%; 
    margin-left: 2.5%;
    color: 0f0f0f;
}

.iconSpace {
    margin-right: 1rem;
}

.center {
    text-align: center;
}

.homeButtons {
    margin-bottom: 1rem;
}

.contentBackground{
    background-color: #FCFCFC;
    border-color: #DCECEF;
    /*border-color: radial-gradient(#DCECEF, #EDEDED);*/
    border-width: 3px;
    border-radius: 15px;
    border-style: solid
}

.profile-line {
    overflow: auto;
    padding-bottom: 10px;
}

#messages {
    padding: 0px;
}

.message {
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.message-good {
    background: darkseagreen;
    border-color: darkgreen;
}

.message-bad {
    background: lightcoral;
    border-color: darkred;
}