body {
    font-family: "Arial";
    --sidebar-bg: black;
    --primary-color: lightblue;
    --nav-text-color: black;
    
    /* No text select */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar {
    background-color: var(--primary-color);
    color: var(--nav-text-color);
}

.navbar h1 {
    font-size: 15pt;
    font-weight: 50;
}

.profilepic {
    border-radius: 50%;
    margin-right: 7px;
    height: 50px;
    width: 50px;
}

.creation {
    max-width: 450px;
}

/* Sidebar Styles */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--sidebar-bg);
  overflow-x: hidden;
  /*transition: 0.5s;*/
  padding-top: 60px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav .closebtn:hover {
    font-weight: 100;
    filter: brightness(50%);
}

#sidebar {
    color: white;
}

.sidenav body {
    color: white;
}

.sidenav h1 {
    font-size: 18pt;
    padding-left:5%;
}

.element {
    padding-left: 15%;
    color: grey;
}

.element:hover {
    color: lightblue;
}

/*This is the CSS from the post page.*/

.genericPost {
    background-color: #EDEDED;
}

.postContent {
    background-color: #FCFCFC;
    border-color: #DCECEF;
    /*border-color: radial-gradient(#DCECEF, #EDEDED);*/
    border-width: 3px;
    border-radius: 15px;
    width: 95%; 
    margin-left: 2.5%;
}

/*.linkBox {
    width: 42.5%;
    float: left;
    margin-left: 5%;
    border: solid 1.5px #86B8CC;
    height: 100%;
    padding: 2px;
    color: #86B8CC;
}

.cardLink {
    color: #86B8CC;
}

a:hover.linkBox {
    color: #DCECEF;
    border-color: #DCECEF;
    background-color: #86B8CC;
}
"""This is bad CSS that is no longer needed, but I want to keep it as a style reference for future pages."""
*/

h5.card-title {
    font-size: 25px;
}

.profilePicture {
    border-radius: 50%;
    margin-right: 7px;
}

a {
    color: #86B8CC;
}

a:hover {
    color: #6E97A7;
}

h6 {
    margin-bottom: 0px;
}

h7 {
    font-size: 14px;
}

.edit {
    float: right;
}

.btn-outline-info {
    border-color: #86B8CC;
    color: #86B8CC;
}

.btn-outline-info:hover {
    background-color: #86B8CC;
    border-color: #86B8CC;
}