<style>
    .sidenav div {
        padding-left: 10%;
    }
    
    .element {
        padding: 0px;
        display: block;
    }
</style>
<h1>DMs</h1>
    <div id="userDMs"></div>
<h1>Classes</h1>
    <div id="userClasses"></div>
<h1>Topics</h1>
    <div>
        <a href="topics.html" class="element">All Topics</a>
        <div id="userTopics"></div>
    </div>
<h1>Account</h1>
    <div id="userAccounts"></div>
<h1>About</h1>
    <div>
        <a href="../about.html" class="element">About</a>
        <a href="../privacy.html" class="element">Privacy Policy</a>
        <a href="../terms.html"class="element">Terms of Service</a>
    </div>