<h1>DMs</h1>
    <div id = "dms" class = "element">Craig</div>
    <div id = "dms" class = "element">Andrew</div>
<h1>Classes</h1>
    <div id = "classes" class = "element">Chemistry</div>
    <div id = "classes" class = "element">Physics</div>
<h1>Topics</h1>
    <div id = "global" class = "element">Computer Science</div>
<h1>Account</h1>
    <div id = "global" class = "element">Account</div>
    <div id = "global" class = "element">Sign out</div>
<h1>About</h1>
    <div id = "global" class = "element">About</div>
    <div id = "global" class = "element">Privacy Policy</div>
    <div id = "global" class = "element">Terms of Service</div>